<div class="panel panel-default band-panel">
  <div class="panel-body">
    <div class="band-description-header">
      <h4 class="panel-title">Description</h4>
      <button class="btn btn-primary btn-sm band-description-edit-button" {{action "editDescription"}}>{{editSaveButtonState}}</button>
    </div>

    {{#if isEditing}}
      {{input class="band-edit-description-box" type="text" size="1" value=model.description}}
    {{/if}}

    {{#unless isEditing}}
      <p>{{model.description}}</p>
    {{/unless}}

  </div>
</div>
{{!outlet}}