<ul class="list-group songs">
  <li class="list-group-item item-add-bar">
    {{input type="text" class="new-song" placeholder="New Song" value=title}}
    <button class="btn btn-primary btn-sm new-song-button" {{action "createSong"}}>Add</button>
  </li>
  {{#each model.songs as |song|}}
    <li class="list-group-item">
      {{song.title}}
      <!-- pass rating into star-rating Component from song.rating. Other properties (not passed in) are
       set in Class with values stipulated there. For example, maxRating = 5
        When variables are passed without quotations, like song.rating, that creates a binding between the
        Component property and the property passed in; in this case, song.rating will be bound to
        component > star-rating.js > rating -->
      {{star-rating item=song rating=song.rating rating-change=(action "updateRating")}}
    </li>
  {{/each}}
</ul>
{{!outlet}}
