<ul class="nav nav-tabs">
  {{#link-to "bands.band.details" model}}
    <li class="">Details</li>
  {{/link-to}}
  {{#link-to "bands.band.songs" model}}
    <li class="">Songs</li>
  {{/link-to}}
</ul>
<div class="band-info">
  {{outlet}}
</div>