<ul class="nav nav-tabs">
    <li>{{link-to "Details" "bands.band.details" model}}</li>
    <li>{{link-to "Songs" "bands.band.songs" model}}</li>
</ul>
<div class="band-info">
  {{outlet}}
</div>

<!-- TODO: Fix actions on Routes VS Controllers, for Songs and Band, that make global changes like adding/deleting items